.add-to-card-icon {
    width: 22px;
    height: 22px;
  }
  .name-tile {
    width: 75%;
    background: white;
    margin-top: -27px;
  }
  
  .name {
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #363636;
    line-height: 20px;
  }
  
  .category {
    color: #c2c2c2;
    font-size: 12px;
  }
  
  .catelog {
    width: 100%;
  }
  
  .price {
    font-size: 12px;
  }
  
  .name-overlay {
    width: 70%;
    background: white;
    margin-top: -40px;
  }
  