.filter-section {
  width: 20%;
  min-width: 20%;
  margin: 0 20px 0 0;
}

$small: 480px;

.content {
  width: 100%;
}

@media (max-width:$small) {
  .filter-section {
    position: absolute;
    width: 95%;
    background: white;
    margin: auto;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    padding: 8px 10px;
  }
}
